@page "/sessions/{SessionId:guid}/inventory"
@using Web.Components.Shared

<p class="text-muted">Inventory - WIP</p>
<SessionNavBar 
    SessionId="SessionId"
    ParticipantId="ParticipantId"/>

@code {
    [Parameter] public Guid SessionId { get; set; }
    [SupplyParameterFromQuery(Name = "participantId")] public Guid ParticipantId { get; set; }
}